@import "tailwindcss";

html {
  --line-color: #e5e7eb; /* Tailwind's slate-900 */
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/20;
}

@custom-variant dark (&:where(.dark, .dark *));
